body {
  margin: 10px;
  width: 380px;
  height: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

h3 {
  margin-bottom: 25px;
  margin-left: 5px;
  margin-top: 8px;
}

button pre{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
}

button {
  display: inline-flex;
}

.issueInfo {
  font-size: 14px;
}

.upArrow1 {
  font-size: 16px;
  position: relative;
  bottom: 6%;
  left: 94%;
}

.downArrow1 {
  font-size: 16px;
  position: absolute;
  left: 88.5%;
}

i {
  display:inline-flex;
  padding-top: 2.5px;
}


#runAgainBtn {
  color: white;
  background-color: #4B2E83;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  border-color: #4B2E83;
  margin-left: 137px;
  margin-top: 30px;
  padding-left: 17px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
#runAgainBtn:hover {
  background: white;
  color: black;
}

#linkBtn {
  color: white;
  background-color: black;
  width: 120px;
  height: 26px;
  border-radius: 4px;
  border-color: black;
  margin-left: 2px;
  margin-top: 10px;
  padding-left: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

#linkBtn:hover {
  background: white;
  color: black;
}

.dropbtn {
  text-align: left;
  display: block;
  width: 350px;
  height: 22px;
  color: black;
  margin-left: 11px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-bottom:  15px;
}

.error {
  background-color: #fdc9c9;
}

.warning {
  background-color: #fdf1c9;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.active .dropbtn {
  text-align: left;
  width: 350px;
  height: 135px;
}

.active .error {
  border: 1.5px solid black;
  border-color: #fa8072;
}

.active .warning {
  border: 1.5px solid black;
  border-color: #f8d568;
}
