body {
  margin: 10px;
  width: 160px;
  height: 130px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
button {
  color: white;
  background-color: black;
  width: 100px;
  height: 26px;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 32px;
  border-color: black;
}
button:hover {
  background: white;
  color: black;
}

hr {
  border: 2px solid #43b9ff;
}

#iconinfo {
  margin-top: 28px;
  text-align: center;
  font-size: 7px;
}

#run {
  text-decoration: none;
  color: white;
}

#run:hover {
  color: black;
}

:focus-visible {
    outline: 3px solid darkgray;
}
