body {
  margin: 10px;
  width: 160px;
  height: 130px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}
button {
  color: white;
  background-color: #4B2E83;
  width: 80px;
  height: 26px;
  border-radius: 4px;
  margin-left: 39px;
  margin-top: 18px;
  border-color: #4B2E83;
}
button:hover {
  background: white;
  color: black;
}
button:focus {
  background: white;
  color: black;
}
#iconinfo {
  margin-top: 38px;
  text-align: center;
  font-size: 7px;
}
